body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white; /* Cor de fundo */
    color: white; /* Cor do texto */
}
@font-face {
    font-family: Clip;
    src: url("https://acupoftee.github.io/fonts/Clip.ttf");
  }

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
}

.logo {
  width: 16%; /* Ajuste conforme necessário */
  margin-bottom: 100px;
}
  
p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
  color: gray;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
}

.form-group input {
  width: 90%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}


    /* CSS */
    .btn-login {
      all: unset;
      width: 230px;
      height: 20px;
      font-size: 14px;
      background: transparent;
      border: none;
      position: relative;
      color: #f0f0f0;
      cursor: pointer;
      z-index: 1;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .btn-login::after,
    .btn-login::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -99999;
      transition: all .4s;
    }
    
    .btn-login::before {
      transform: translate(0%, 0%);
      width: 100%;
      height: 100%;
      background: #28282d;
      border-radius: 10px;
    }
    
    .btn-login::after {
      transform: translate(10px, 10px);
      width: 35px;
      height: 35px;
      background: #ffffff15;
     
      border-radius: 50px;
    }
    
    .btn-login:hover::before {
      transform: translate(5%, 20%);
      width: 110%;
      height: 110%;
    }
    
    .btn-login:hover::after {
      border-radius: 10px;
      transform: translate(0, 0);
      width: 100%;
      height: 100%;
    }
    
    .btn-login:active::after {
      transition: 0s;
      transform: translate(0, 5%);
    }

.login-container form { /* Ou o container que envolve os botões */
    display: flex; /* Ou grid */
    flex-direction: column; /* Ou grid-template-columns */
    gap: 10px; /* Adiciona 20px de espaço entre os botões */
}


.forgot-password {
  margin-top: 15px;
  color: gray;
  text-decoration: none;
  font-size: 12px;
}

.forgot-password:hover {
  text-decoration: underline;
}


